.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input{
  color: black;
  font-family: Verdana;
  font-size: 15px;
  padding: 15px;
  border: 5px solid #33CAFF;
  border-radius: 20px;
  margin: 10px;
}
button{
  background-color: black;
  margin: 10px;
  color: white;
  font-family: Verdana;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #33CAFF;
}
.h2{
  color: white;
}
body{
  font-family: Verdana;
}
.red{
  color: red;
}
.green{
  color: #00e600;
}